[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
pypdf2 = "*"
tabula-py = "*"
camelot-py = {extras = ["cv"], version = "*"}

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.6"
